* {
    margin: 0;
}
html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav > ul > {
display: inline;
flex-wrap: wrap;
padding: 0;

}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    
}

main {
    display: block;
    background-image: url("");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}
h4 {
    background-color: blue; 
    display: inline;
    width: 1em;
    }
footer {
    padding: 15px;
}

aside,
 article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}


.columns {
    display: flex;
}
 @media only screen and (min-width: 769px) {
    main {
        display: flex;
    } 

    

    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        

    }}

    
.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: aqua;
    cursor: pointer;
    font-size: 20px;
}

.hamburger:focus {
    outline: none;
}

 @media screen and (max-width:768px) {
     .nav-ul {
         display: none;
         flex-direction: column;
         width: 100%;
         
     }
     .nav-ul.show {
         display: flex;
     }
     .hamburger {
         display: block;
     }}

     .h9 {
         background-color: aquamarine;
     }

     /* product */
     .con {
         background-color: yellow;
     }

     .pr {
        background-color: rgb(0, 255, 157);
    }
    .we {
        background-color: yellow;
    }

.product {
    width: 185px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}

.product img {
    width: 100%;
}

.product .title {
    font-weight: bold;
}

.product .columns {
    width: 100%;
    background-color: yellowgreen;
}

.product .price {
    text-align: right;
    background-color: yellow;
}

.desc {
    background-color: rgb(211, 212, 224);
}



.product .columns div {
    width: 50%;
}

.product button {
    background-color: #f6aeae;
    padding:  #f6aeae;
    border-radius: 3px;
    color: #fff;
}

/* S*/

.blink {
    background-color: yellow;
}
span {
    animation:blink 1s linear infinite;
}
    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        
    
}

/* contact*/

table {
    background-color: #fff;
    width: 185px;
    
    
}

.h9 {
    background-color: #999;
}

.The {
    background-color: rgb(231, 166, 166);
    display: inline;
    width: 1em;

}




